<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    
    <title>Components main page</title>
</head>
<body class="page">
    <header class="header">
        <div class="container">
            <h1 class="header__title">Reusable component library</h1>
        </div>

    </header>
    <main></main>
    <footer class="footer">
        <div class="container">
            <h2 class="footer__title">About</h2>

        </div>
        <div class="container">
            <div class="footer__disclaimer">This project is a collection of professionally designed, pre-built, fully responsive HTML snippets you can drop into your projects. Get started by checking out our free preview components, or browsing the PNG previews in the categories you're most curious about.</div>
            
        </div>

    </footer>
    
</body>
</html>