@import "normalize.css";
@import '../fonts/fonts.css';
@import "/components/header/header.css";
@import "/components/footer/footer.css";
@import "/components/container/container.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --accent-purple: #5028C6;

    --blue: #374FC7;
    --accent-blue: #2342C0;
    --highlighted-blue: #4263EB;
    --selected-blue: #A0B1F5;

    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-accent: var(--accent-blue);
    --primary-font-color: var(--white);

    --secondary: var(--purple);
    --secondary-accent: var(--accent-purple);
    --secondary-font-color: var(--white);

    --alternate: var(--white);
    --alternate-accent: var(--black);
    --alternate-font-color: var(--black);

}

body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

main {
    height:500px;
    background:#F9FAFC;
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
    height:100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
}
